.fixSize {
    max-width: 120px;
}

.list-group-item {
    border: 0px;
}

.name {
    color: #6c757d;
}

.selectable:hover {
    margin-left: auto;
    margin-right: auto;
    background: aliceblue;
}

.list-group {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.name2 {
    color: #6c757d;
    font-weight: 700;
    font-size: 3vw;
}

.row {
    padding: 15px;
}

.star {
    font-size: 1.4em;
    font-weight: 700;
}

.text-muted2 {
    color: #6c757d;
    font-weight: 400;
    font-size: 50%; 
}

.fix-line {
    line-height: 50%;
}

.fixed-space {
    padding-left: 5px;
}

@media only screen and (max-width: 572px)  {
    .star-bottom {
        display: none;
    }
}

@media only screen and (max-width: 350px)  {
    .star-bottom {
        display: none;
    }
    .name {
        font-size: 1.4em;
    }
}

.container {
    max-width: 600px;
}

.list-group-item {
    padding: 0px !important;
}
